<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>Plant Watchdog</title>
  </head>
  <style>
#placeholder {
    width: 350px;
    height: 600px;
}

.loading {
    background: url(/images/spinner.gif) no-repeat center center;
}
</style>
  <body>
        
    <iframe allowtransparency="true" id="plantwatchdog" name="plantwatchdog" 
      scrolling="no" frameborder="0" border="0" 
      style="border:0;width:750px;height:580px;margin:0;padding:0;" 
      src="graph.html?width=700px&height=400px">
    </iframe>
  </body>
</html>